<div class="row justify-content-center">
    <h1>Alta de libro</h1>
    <div class="col-md-6 col-lg-4 bg-light rounded">
        <h1 class="text-center text-black"> Alta de libro </h1>
        <form action="/nuevoLibro" method="POST"></form>
        <div class="mb-3">
            <label for="titulo">Titulo</label>
            <input type="text" name="titulo" id="titulo">
        </div>

    </div>

</div>